@model List<RainEqualsOut.Models.Message>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rain=Out</h1>
    <p class="lead">Protecting important items from Mother Nature is difficult. We have our jacket, boots, and gloves. What about those items we can't or don't protect like your sports equipment, electronics, and outdoor gear? Well, now you can! Our company logo and name say's it all. Rain=Out (Patent Pending) is made from waterproof, tear resistant material that protects those important items from Mother Nature but more importantly still allowing you accessibility to those items whenever you need them. </p>
    <p><button class="btn btn-default">@Html.ActionLink("Check Out Our Products", "Details", "Customer", null, new { style = "color: black" })</button></p>
</div>
@*<div id="contentBox" style="margin:50px 150px 500px 80px; width:100%">
    <div id="column1" style="float:left; margin:auto; width:50%;">
        <a class="twitter-timeline" href="https://twitter.com/RainEqualsOut?ref_src=twsrc%5Etfw">Tweets by RainEqualsOut</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>*@
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <b><font size="6">
                 @item.Msg
                </font></b>
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }
</table>
<div class="row">
    <div class="col-md-4">
        <h3>Terms and Conditions</h3>
        <p></p>
        <button class="btn btn-default">@Html.ActionLink("Terms", "Terms", "Home", new { style = "color: black" })</button>
    </div>
    <div class="col-md-4">
        <h3>Return Policy</h3>
        <p></p>
        <button class="btn btn-default">@Html.ActionLink("Returns", "Return", "Home", new { style = "color: black" })</button>
    </div>
    <div class="col-md-4">
        <h3>Contact Us</h3>
        <p></p>
        <button class="btn btn-default">@Html.ActionLink("Contact Us", "Contact", "Home", new { style = "color: black"})</button>
    </div>
</div>